.app {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100%;
}
.dark-mode {
  flex: 1 1 auto;
  &.dark {
    background-color: #14181e;
    color: aliceblue;
  }
}

.app-course {
  position: relative;
  flex: 1 0 auto;
  max-height: 75vh;
  overflow-y: scroll;
}

.footer {
  &.dark {
    background-color: #282c34;
    color: white;
  }
  display: flex;
  flex: 1 0 auto;
  background-color: #f3f3f3;
  min-height: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-course {
  &.dark {
    background-color: #14181e;
    a {
      color: #df00ff;
    }
  }
  &.light {
    background-color: #d3d3d3;
  }
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.list-item span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15ch;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
